In [1]:
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline



from sklearn.model_selection import cross_val_score
from sklearn.pipeline import Pipeline

np.random.seed(seed=42)

In [2]:
import functions.CreatingNewDataframe as CreatingNewDataframe
import functions.GenerateFis as Features
import functions.GenerateMeansWithOffset as MeansOffset


from functions.date_split import split_month_test
from score_submission import our_scorer, scorer

In [3]:
from sklearn import linear_model
from sklearn.base import BaseEstimator, TransformerMixin

In [4]:
df_initial = pd.read_csv('train.csv.zip', parse_dates=['DATE'])
ids = np.unique(df_initial.ATM_ID)
np.random.shuffle(ids)

In [5]:

import functions.GenerateFis as Features

In [6]:
train_df, test_df = split_month_test(df_initial,
                                     test_days=33,
                                     train_days=-1,
                                     unuseddays_in_end=1)

test_df_for_validation = test_df.copy()
y_test = test_df['CLIENT_OUT']
test_df['CLIENT_OUT'] = None

DF_FOR_FEATURES = pd.concat([train_df, test_df] )

df1, df2, df3, df4, df5 = Features.GenerateFisSasha(DF_FOR_FEATURES)

dfs = [df1, df2, df3, df4, df5]
end_of_train = train_df.shape[0]

df_trains = [df.loc[train_df.index] for df in dfs]

test_days = 33

indices1 = test_df.index.values.reshape(-1, 33)[:, :7].reshape(-1)
indices2 = test_df.index.values.reshape(-1, 33)[:, 7:14].reshape(-1)
indices3 = test_df.index.values.reshape(-1, 33)[:, 14:21].reshape(-1)
indices4 = test_df.index.values.reshape(-1, 33)[:, 21:28].reshape(-1)
indices5 = test_df.index.values.reshape(-1, 33)[:, 28:].reshape(-1)

INDICES = [indices1, indices2, indices3, indices4, indices5]

df_tests = [dfs[i].loc[INDICES[i]] for i in range(5)]
df_tests__ = [dfs[i].loc[INDICES[i]][["DATE", "ATM_ID", "CLIENT_OUT"]] for i in range(5)]
y_tests = [y_test.loc[INDICES[i]] for i in range(5)]

/home/progiv/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [7]:
df_trains[0]

,DATE,ATM_ID,CLIENT_OUT,weekend_dummy,holiday_dummy,day_of_week_0,day_of_week_1,day_of_week_2,day_of_week_3,day_of_week_4,...,same_day_4_week_ago,mean_4_week_ago,std_4_week_ago,same_day_4_week_ago_plusday,same_day_4_week_ago_minusday,same_day_5_week_ago,mean_5_week_ago,std_5_week_ago,same_day_5_week_ago_plusday,same_day_5_week_ago_minusday
0,2015-01-01,0,91600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-01-02,0,136500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-01-03,0,335400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-01-04,0,379000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-01-05,0,344100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2015-01-06,0,575300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2015-01-07,0,158200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2015-01-08,0,296500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2015-01-09,0,453400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2015-01-10,0,415900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2015-01-11,0,320000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2015-01-12,0,950800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2015-01-13,0,1012100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2015-01-14,0,537700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2015-01-15,0,657300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2015-01-16,0,417000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2015-01-17,0,177400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2015-01-18,0,189500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2015-01-19,0,326000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2015-01-20,0,530700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2015-01-21,0,519700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2015-01-22,0,309300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2015-01-23,0,360800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2015-01-24,0,230300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2015-01-25,0,136700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2015-01-26,0,297500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2015-01-27,0,421600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2015-01-28,0,311000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,91600.0,NaN,NaN,NaN,NaN,NaN,NaN
28,2015-01-29,0,272800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,91600.0,NaN,NaN,136500.0,NaN,NaN,NaN,NaN,NaN,NaN
29,2015-01-30,0,222800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,136500.0,NaN,NaN,335400.0,91600.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287336,2017-06-13,419,56700,0.000000,10257.142857,0.000000,10257.142857,0.000000,0.000000,0.000000,...,44400.0,47257.142857,28901.779480,47600.0,61900.0,0.0,10257.142857,13501.587208,77500.0,0.0
287337,2017-06-14,419,54700,0.000000,20485.714286,0.000000,0.000000,20485.714286,0.000000,0.000000,...,47600.0,42985.714286,25721.743627,12900.0,44400.0,77500.0,20485.714286,28472.233759,64900.0,0.0
287338,2017-06-15,419,43100,0.000000,0.000000,0.000000,0.000000,0.000000,26042.857143,0.000000,...,12900.0,35557.142857,25846.589533,28100.0,47600.0,64900.0,26042.857143,33141.256119,66500.0,77500.0
287339,2017-06-16,419,48800,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,30842.857143,...,28100.0,30071.428571,21968.819896,2100.0,12900.0,66500.0,30842.857143,36557.117736,14100.0,64900.0
287340,2017-06-17,419,1400,32000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2100.0,28357.142857,23813.571560,4700.0,28100.0,14100.0,32000.000000,35759.194622,1500.0,66500.0
287341,2017-06-18,419,1400,32071.428571,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,4700.0,28814.285714,23235.779061,20300.0,2100.0,1500.0,32071.428571,35687.379388,61900.0,14100.0
287342,2017-06-19,419,72600,0.000000,0.000000,40914.285714,0.000000,0.000000,0.000000,0.000000,...,20300.0,22871.428571,18120.036266,19800.0,4700.0,61900.0,40914.285714,34047.340991,44400.0,1500.0
287343,2017-06-20,419,60900,0.000000,0.000000,0.000000,47257.142857,0.000000,0.000000,0.000000,...,19800.0,19357.142857,15435.441592,11200.0,20300.0,44400.0,47257.142857,28901.779480,47600.0,61900.0
287344,2017-06-21,419,41400,0.000000,0.000000,0.000000,0.000000,42985.714286,0.000000,0.000000,...,11200.0,14157.142857,9211.561058,37300.0,19800.0,47600.0,42985.714286,25721.743627,12900.0,44400.0
287345,2017-06-22,419,46300,0.000000,0.000000,0.000000,0.000000,0.000000,35557.142857,0.000000,...,37300.0,17642.857143,12636.436357,29500.0,11200.0,12900.0,35557.142857,25846.589533,28100.0,47600.0
287346,2017-06-23,419,56200,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,30071.428571,...,29500.0,17842.857143,12838.984531,0.0,37300.0,28100.0,30071.428571,21968.819896,2100.0,12900.0
287347,2017-06-24,419,2300,28357.142857,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,17542.857143,13284.935973,0.0,29500.0,2100.0,28357.142857,23813.571560,4700.0,28100.0
287348,2017-06-25,419,1100,28814.285714,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,16871.428571,14133.849945,0.0,0.0,4700.0,28814.285714,23235.779061,20300.0,2100.0
287349,2017-06-26,419,45000,0.000000,0.000000,22871.428571,0.000000,0.000000,0.000000,0.000000,...,0.0,13971.428571,15343.914568,44900.0,0.0,20300.0,22871.428571,18120.036266,19800.0,4700.0
287350,2017-06-27,419,1300,0.000000,0.000000,0.000000,19357.142857,0.000000,0.000000,0.000000,...,44900.0,17557.142857,19344.323641,38800.0,0.0,19800.0,19357.142857,15435.441592,11200.0,20300.0
287351,2017-06-28,419,0,0.000000,0.000000,0.000000,0.000000,14157.142857,0.000000,0.000000,...,38800.0,21500.000000,20604.368469,19700.0,44900.0,11200.0,14157.142857,9211.561058,37300.0,19800.0
287352,2017-06-29,419,35000,0.000000,0.000000,0.000000,0.000000,0.000000,17642.857143,0.000000,...,19700.0,18985.714286,19393.248702,26300.0,38800.0,37300.0,17642.857143,12636.436357,29500.0,11200.0
287353,2017-06-30,419,22000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17842.857143,...,26300.0,18528.571429,19140.159724,300.0,19700.0,29500.0,17842.857143,12838.984531,0.0,37300.0
287354,2017-07-01,419,7300,17542.857143,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,300.0,18571.428571,19092.032743,6000.0,26300.0,0.0,17542.857143,13284.935973,0.0,29500.0
287355,2017-07-02,419,1200,16871.428571,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,6000.0,19428.571429,18234.739216,24800.0,300.0,0.0,16871.428571,14133.849945,0.0,0.0
287356,2017-07-03,419,32600,0.000000,0.000000,13971.428571,0.000000,0.000000,0.000000,0.000000,...,24800.0,22971.428571,16117.042148,38500.0,6000.0,0.0,13971.428571,15343.914568,44900.0,0.0
287357,2017-07-04,419,75500,0.000000,0.000000,0.000000,17557.142857,0.000000,0.000000,0.000000,...,38500.0,22057.142857,14792.887608,28600.0,24800.0,44900.0,17557.142857,19344.323641,38800.0,0.0
287358,2017-07-05,419,60700,0.000000,0.000000,0.000000,0.000000,21500.000000,0.000000,0.000000,...,28600.0,20600.000000,13295.362600,8500.0,38500.0,38800.0,21500.000000,20604.368469,19700.0,44900.0
287359,2017-07-06,419,73600,0.000000,0.000000,0.000000,0.000000,0.000000,18985.714286,0.000000,...,8500.0,19000.000000,14072.905409,122000.0,28600.0,19700.0,18985.714286,19393.248702,26300.0,38800.0
287360,2017-07-07,419,46500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18528.571429,...,122000.0,32671.428571,41704.584651,15900.0,8500.0,26300.0,18528.571429,19140.159724,300.0,19700.0
287361,2017-07-08,419,1400,18571.428571,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,15900.0,34900.000000,40071.269841,3000.0,122000.0,300.0,18571.428571,19092.032743,6000.0,26300.0
287362,2017-07-09,419,100,19428.571429,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3000.0,34471.428571,40446.166455,500.0,15900.0,6000.0,19428.571429,18234.739216,24800.0,300.0
287363,2017-07-10,419,80100,0.000000,0.000000,22971.428571,0.000000,0.000000,0.000000,0.000000,...,500.0,31000.000000,42409.747307,56700.0,3000.0,24800.0,22971.428571,16117.042148,38500.0,6000.0
287364,2017-07-11,419,29300,0.000000,0.000000,0.000000,22057.142857,0.000000,0.000000,0.000000,...,56700.0,33600.000000,43490.305433,54700.0,500.0,38500.0,22057.142857,14792.887608,28600.0,24800.0
287365,2017-07-12,419,36200,0.000000,0.000000,0.000000,0.000000,20600.000000,0.000000,0.000000,...,54700.0,37328.571429,44104.675273,43100.0,56700.0,28600.0,20600.000000,13295.362600,8500.0,38500.0

In [7]:
for df in df_trains:
    df.dropna(inplace=True)

In [8]:
y_trains = [df_trains[i][['CLIENT_OUT']] for i in range(5)]

for df in df_trains:
    df.drop(['CLIENT_OUT',  'DATE', "ATM_ID"], axis=1, inplace=True)

for df in df_tests:
    df.drop(['CLIENT_OUT',  'DATE', "ATM_ID"], axis=1, inplace=True)

In [9]:
for i in range(5):
    y_trains[i] = y_trains[i].astype(np.float32)
    df_trains[i] = df_trains[i].astype(np.float32)

In [10]:
from sklearn.ensemble import RandomForestRegressor

In [11]:
# list_of_lasso = [
#     RandomForestRegressor(n_jobs=32, max_depth=7, n_estimators=100, criterion="mae"),
#     RandomForestRegressor(n_jobs=32, max_depth=7, n_estimators=100, criterion="mae"),
#     RandomForestRegressor(n_jobs=32, max_depth=7, n_estimators=100, criterion="mae"),
#     RandomForestRegressor(n_jobs=32, max_depth=7, n_estimators=100, criterion="mae"),
#     RandomForestRegressor(n_jobs=32, max_depth=7, n_estimators=100, criterion="mae"),
# ]

In [12]:
from sklearn.linear_model import Lasso

In [13]:
list_of_lasso = [
    Lasso(),
    Lasso(),
    Lasso(),
    Lasso(),
    Lasso(),
]

In [14]:
for i, lasso in  enumerate(list_of_lasso):
    lasso.fit(df_trains[i], y_trains[i])
    df_tests__[i].CLIENT_OUT = lasso.predict(df_tests[i])
    df_tests__[i].CLIENT_OUT[df_tests__[i].CLIENT_OUT < 0] = 0

/home/progiv/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/coordinate_descent.py:491: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)
/home/progiv/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [15]:
df_super_final_predict = pd.concat([df_tests__[0],
                                    df_tests__[1],
                                    df_tests__[2],
                                    df_tests__[3],
                                    df_tests__[4],
                                   ])

In [16]:
scorer(df_super_final_predict, test_df_for_validation)

3230.1737146574437

In [ ]:
from sklearn.ensemble import RandomForestRegressor

# rf1 = RandomForestRegressor(n_estimators=300, max_depth=7, n_jobs=32)
# rf2 = RandomForestRegressor(n_estimators=300, max_depth=7, n_jobs=32)
# rf3 = RandomForestRegressor(n_estimators=300, max_depth=7, n_jobs=32)
# rf4 = RandomForestRegressor(n_estimators=300, max_depth=7, n_jobs=32)
# rf5 = RandomForestRegressor(n_estimators=300, max_depth=7, n_jobs=32)

# rf1.fit(df_train_1, y_train_1, )
# rf2.fit(df_train_2, y_train_2, )
# rf3.fit(df_train_3, y_train_3, )
# rf4.fit(df_train_4, y_train_4, )
# rf5.fit(df_train_5, y_train_5, )