### libraries

In [186]:
import numpy as np 
import pandas as pd
import scipy.sparse
import matplotlib.pyplot as plt
%matplotlib inline

In [314]:
def GenerateFis(df):
    def split(data):
        return [data[-7:], data[-14:-7], data[-21:-14], data[-28:-21], data[-34:-29]]

    def holiday(df):
        condition_holiday = (
        (df.DATE.dt.month == 1) & ((df.DATE.dt.day >= 1) & (df.DATE.dt.day <= 8)) # winter
        | (df.DATE.dt.month == 2) & ((df.DATE.dt.day >= 21) & (df.DATE.dt.day <= 25)) # around 23 feb
        | (df.DATE.dt.month == 3) & ((df.DATE.dt.day >= 6) & (df.DATE.dt.day <= 10)) # around 8 mar
        | (df.DATE.dt.month == 5) & ((df.DATE.dt.day >= 1) & (df.DATE.dt.day <= 10)) # may
        | (df.DATE.dt.month == 6) & ((df.DATE.dt.day >= 10) & (df.DATE.dt.day <= 14)) # around 12 june
        | (df.DATE.dt.month == 11) & ((df.DATE.dt.day >= 2) & (df.DATE.dt.day <= 6)) # around 4 nov
        )
        return condition_holiday + 0
    
    def shift(df, i):
        df2 = df.copy()
        for n in [1,2,3,4,5]:
            N = n + 5 - i 
            df2['out_{}_weeks_ago'.format(N)] = df.CLIENT_OUT.shift(7*N)
            df2['out_{}_weeks_ago_plus_day'.format(N)] = df.CLIENT_OUT.shift(7*N-1)
            df2['out_{}_weeks_ago_minus_day'.format(N)] = df.CLIENT_OUT.shift(7*N+1)
        return df2
    
    df['month_of_year'] = df.DATE.dt.month
    df['day_of_week'] = df.DATE.dt.dayofweek
    df['day_of_month'] = df.DATE.dt.day
    df['week_of_month'] = (df.DATE.dt.day  - 1) // 7 + 1
    df['holiday_dummy'] = holiday(df)
    
    list_dummies = ['day_of_week', 
                'day_of_month',
                'week_of_month',
                'month_of_year']
    df = pd.get_dummies(df, columns=list_dummies)
    
    df_splitted = []
    df_splitted.append(shift(df, 1)[-7:])
    for i in range(2, 5):
        df_splitted.append(shift(df, i)[-7*i:-7*(i-1)])
    df_splitted.append(shift(df, 5)[-33:-28])
    
    return df_splitted

In [315]:
a = GenerateFis(data)

In [311]:
data = pd.read_csv('train.csv.zip', parse_dates=['DATE'])

### read data

In [187]:
train = pd.read_csv('train.csv.zip', parse_dates=['DATE'])
train.head()

        DATE  ATM_ID  CLIENT_OUT
0 2015-01-01       0       91600
1 2015-01-02       0      136500
2 2015-01-03       0      335400
3 2015-01-04       0      379000
4 2015-01-05       0      344100

In [188]:
df = train

df['month_of_year'] = df.DATE.dt.month

### generate features

In [189]:
def DivideByMean(df):
    means = df.groupby(['ATM_ID', 'month_of_year'], as_index=False)['CLIENT_OUT'].mean()
    mean_df = pd.DataFrame(means)
    mean_df.rename(columns={'CLIENT_OUT': 'mean'}, inplace=True)
    
    merged_df = pd.merge(df[['DATE', 'ATM_ID', 'month_of_year']], mean_df, on=['ATM_ID', 'month_of_year'], how='outer')
    df.CLIENT_OUT = df.CLIENT_OUT / merged_df['mean']
    
    last_date = merged_df.DATE.max()
    means_of_last_month_df = merged_df[merged_df.DATE == last_date]
    return df, means_of_last_month_df


def MultiplyByMean(y_predicted, means_of_last_month_df):
    y_predicted.CLIENT_OUT = y_predicted.CLIENT_OUT * pd.merge(y_predicted, means_of_last_month_df, 
                                                    on='ATM_ID', how='outer')['mean']
    
    return y_predicted

In [190]:
pd.merge(df, means_of_last_month_df, on='ATM_ID', how='outer')

,DATE_x,ATM_ID,CLIENT_OUT,month_of_year_x,DATE_y,month_of_year_y,mean
0,2015-01-01,0,91600,1,2017-08-15,8,381470.129870
1,2015-01-02,0,136500,1,2017-08-15,8,381470.129870
2,2015-01-03,0,335400,1,2017-08-15,8,381470.129870
3,2015-01-04,0,379000,1,2017-08-15,8,381470.129870
4,2015-01-05,0,344100,1,2017-08-15,8,381470.129870
5,2015-01-06,0,575300,1,2017-08-15,8,381470.129870
6,2015-01-07,0,158200,1,2017-08-15,8,381470.129870
7,2015-01-08,0,296500,1,2017-08-15,8,381470.129870
8,2015-01-09,0,453400,1,2017-08-15,8,381470.129870
9,2015-01-10,0,415900,1,2017-08-15,8,381470.129870
10,2015-01-11,0,320000,1,2017-08-15,8,381470.129870
11,2015-01-12,0,950800,1,2017-08-15,8,381470.129870
12,2015-01-13,0,1012100,1,2017-08-15,8,381470.129870
13,2015-01-14,0,537700,1,2017-08-15,8,381470.129870
14,2015-01-15,0,657300,1,2017-08-15,8,381470.129870
15,2015-01-16,0,417000,1,2017-08-15,8,381470.129870
16,2015-01-17,0,177400,1,2017-08-15,8,381470.129870
17,2015-01-18,0,189500,1,2017-08-15,8,381470.129870
18,2015-01-19,0,326000,1,2017-08-15,8,381470.129870
19,2015-01-20,0,530700,1,2017-08-15,8,381470.129870
20,2015-01-21,0,519700,1,2017-08-15,8,381470.129870
21,2015-01-22,0,309300,1,2017-08-15,8,381470.129870
22,2015-01-23,0,360800,1,2017-08-15,8,381470.129870
23,2015-01-24,0,230300,1,2017-08-15,8,381470.129870
24,2015-01-25,0,136700,1,2017-08-15,8,381470.129870
25,2015-01-26,0,297500,1,2017-08-15,8,381470.129870
26,2015-01-27,0,421600,1,2017-08-15,8,381470.129870
27,2015-01-28,0,311000,1,2017-08-15,8,381470.129870
28,2015-01-29,0,272800,1,2017-08-15,8,381470.129870
29,2015-01-30,0,222800,1,2017-08-15,8,381470.129870
...,...,...,...,...,...,...,...
287370,2017-07-17,419,66200,7,2017-08-15,8,36503.896104
287371,2017-07-18,419,21100,7,2017-08-15,8,36503.896104
287372,2017-07-19,419,34200,7,2017-08-15,8,36503.896104
287373,2017-07-20,419,34400,7,2017-08-15,8,36503.896104
287374,2017-07-21,419,22600,7,2017-08-15,8,36503.896104
287375,2017-07-22,419,4200,7,2017-08-15,8,36503.896104
287376,2017-07-23,419,500,7,2017-08-15,8,36503.896104
287377,2017-07-24,419,30400,7,2017-08-15,8,36503.896104
287378,2017-07-25,419,98100,7,2017-08-15,8,36503.896104
287379,2017-07-26,419,66700,7,2017-08-15,8,36503.896104
287380,2017-07-27,419,33900,7,2017-08-15,8,36503.896104
287381,2017-07-28,419,32800,7,2017-08-15,8,36503.896104
287382,2017-07-29,419,4300,7,2017-08-15,8,36503.896104
287383,2017-07-30,419,4000,7,2017-08-15,8,36503.896104
287384,2017-07-31,419,106300,7,2017-08-15,8,36503.896104
287385,2017-08-01,419,36100,8,2017-08-15,8,36503.896104
287386,2017-08-02,419,54800,8,2017-08-15,8,36503.896104
287387,2017-08-03,419,40500,8,2017-08-15,8,36503.896104
287388,2017-08-04,419,39200,8,2017-08-15,8,36503.896104
287389,2017-08-05,419,8700,8,2017-08-15,8,36503.896104
287390,2017-08-06,419,2300,8,2017-08-15,8,36503.896104
287391,2017-08-07,419,30700,8,2017-08-15,8,36503.896104
287392,2017-08-08,419,31600,8,2017-08-15,8,36503.896104
287393,2017-08-09,419,18500,8,2017-08-15,8,36503.896104
287394,2017-08-10,419,87300,8,2017-08-15,8,36503.896104
287395,2017-08-11,419,47500,8,2017-08-15,8,36503.896104
287396,2017-08-12,419,18100,8,2017-08-15,8,36503.896104
287397,2017-08-13,419,5000,8,2017-08-15,8,36503.896104
287398,2017-08-14,419,32300,8,2017-08-15,8,36503.896104
287399,2017-08-15,419,78100,8,2017-08-15,8,36503.896104

In [191]:
df = train

## We add features to df

df['day_of_week'] = df.DATE.dt.dayofweek
df['day_of_month'] = df.DATE.dt.day
df['week_of_month'] = (df.DATE.dt.day  - 1) // 7 + 1
df['month_of_year'] = df.DATE.dt.month
   
condition_holiday = (
    (df.DATE.dt.month == 1) & ((df.DATE.dt.day >= 1) & (df.DATE.dt.day <= 8)) # winter
    | (df.DATE.dt.month == 2) & ((df.DATE.dt.day >= 21) & (df.DATE.dt.day <= 25)) # around 23 feb
    | (df.DATE.dt.month == 3) & ((df.DATE.dt.day >= 6) & (df.DATE.dt.day <= 10)) # around 8 mar
    | (df.DATE.dt.month == 5) & ((df.DATE.dt.day >= 1) & (df.DATE.dt.day <= 10)) # may
    | (df.DATE.dt.month == 6) & ((df.DATE.dt.day >= 10) & (df.DATE.dt.day <= 14)) # around 12 june
    | (df.DATE.dt.month == 11) & ((df.DATE.dt.day >= 2) & (df.DATE.dt.day <= 6)) # around 4 nov
)   
df['holiday_dummy'] = condition_holiday + 0

# divide by mean
df, means_of_last_month_df = DivideByMean(df)

# convert to dummies
list_dummies = ['day_of_week', 
                'day_of_month',
                'week_of_month',
                'month_of_year']
df = pd.get_dummies(df, columns=list_dummies)

In [97]:
df #new

,DATE,ATM_ID,CLIENT_OUT,holiday_dummy,rolling_mean_7_days,rolling_mean_30_days,day_of_week_0,day_of_week_1,day_of_week_2,day_of_week_3,...,month_of_year_3,month_of_year_4,month_of_year_5,month_of_year_6,month_of_year_7,month_of_year_8,month_of_year_9,month_of_year_10,month_of_year_11,month_of_year_12
0,2015-01-01,0,0.281083,1,NaN,NaN,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,2015-01-02,0,0.418862,1,NaN,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2015-01-03,0,1.029204,1,NaN,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2015-01-04,0,1.162995,1,NaN,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2015-01-05,0,1.055901,1,NaN,NaN,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,2015-01-06,0,1.765359,1,NaN,NaN,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,2015-01-07,0,0.485451,1,0.885551,NaN,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7,2015-01-08,0,0.909836,1,0.975373,NaN,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8,2015-01-09,0,1.391298,0,1.114292,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,2015-01-10,0,1.276226,0,1.149581,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,2015-01-11,0,0.981948,0,1.123717,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,2015-01-12,0,2.917613,0,1.389676,NaN,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,2015-01-13,0,3.105718,0,1.581156,NaN,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
13,2015-01-14,0,1.649980,0,1.747517,NaN,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
14,2015-01-15,0,2.016983,0,1.905681,NaN,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
15,2015-01-16,0,1.279601,0,1.889724,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,2015-01-17,0,0.544367,0,1.785173,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,2015-01-18,0,0.581497,0,1.727966,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,2015-01-19,0,1.000360,0,1.454072,NaN,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,2015-01-20,0,1.628500,0,1.243041,NaN,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
20,2015-01-21,0,1.594745,0,1.235150,NaN,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
21,2015-01-22,0,0.949114,0,1.082598,NaN,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
22,2015-01-23,0,1.107147,0,1.057961,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,2015-01-24,0,0.706696,0,1.081151,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,2015-01-25,0,0.419476,0,1.058005,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,2015-01-26,0,0.912905,0,1.045512,NaN,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,2015-01-27,0,1.293717,0,0.997686,NaN,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
27,2015-01-28,0,0.954331,0,0.906198,NaN,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
28,2015-01-29,0,0.837111,0,0.890197,NaN,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
29,2015-01-30,0,0.683681,0,0.829702,1.164723,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287370,2017-07-17,419,1.469426,0,0.675416,0.723245,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
287371,2017-07-18,419,0.468352,0,0.649414,0.737820,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
287372,2017-07-19,419,0.759129,0,0.643072,0.709409,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
287373,2017-07-20,419,0.763569,0,0.627217,0.689801,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
287374,2017-07-21,419,0.501647,0,0.591702,0.675891,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
287375,2017-07-22,419,0.093226,0,0.603752,0.644742,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
287376,2017-07-23,419,0.011098,0,0.580921,0.603530,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
287377,2017-07-24,419,0.674782,0,0.467400,0.624321,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
287378,2017-07-25,419,2.177503,0,0.711565,0.696091,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
287379,2017-07-26,419,1.480524,0,0.814621,0.712146,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
287380,2017-07-27,419,0.752470,0,0.813036,0.736267,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
287381,2017-07-28,419,0.728054,0,0.845380,0.760535,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
287382,2017-07-29,419,0.095446,0,0.845697,0.737820,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
287383,2017-07-30,419,0.088787,0,0.856795,0.724502,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
287384,2017-07-31,419,2.359516,0,1.097471,0.797752,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
287385,2017-08-01,419,0.801303,0,0.900872,0.823574,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
287386,2017-08-02,419,1.216383,0,0.863137,0.840000,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
287387,2017-08-03,419,0.898969,0,0.884065,0.814103,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
287388,2017-08-04,419,0.870113,0,0.904360,0.798196,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
287389,2017-08-05,419,0.193112,0,0.918312,0.750177,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
287390,2017-08-06,419,0.051053,0,0.912921,0.717473,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
287391,2017-08-07,419,0.681441,0,0.673196,0.739152,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
287392,2017-08-08,419,0.701418,0,0.658927,0.762459,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
287393,2017-08-09,419,0.410640,0,0.543821,0.716881,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
287394,2017-08-10,419,1.937777,0,0.692222,0.759795,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
287395,2017-08-11,419,1.054346,0,0.718541,0.768156,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
287396,2017-08-12,419,0.401761,0,0.748348,0.752396,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
287397,2017-08-13,419,0.110984,0,0.756910,0.731087,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
287398,2017-08-14,419,0.716955,0,0.761983,0.754690,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
287399,2017-08-15,419,1.733567,0,0.909433,0.806778,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0

In [192]:
# # multiply back by mean
MultiplyByMean(df[['ATM_ID', 'CLIENT_OUT']], means_of_last_month_df)

/home/progiv/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

        ATM_ID    CLIENT_OUT
0            0  1.072246e+05
1            0  1.597834e+05
2            0  3.926107e+05
3            0  4.436478e+05
4            0  4.027947e+05
5            0  6.734316e+05
6            0  1.851849e+05
7            0  3.470754e+05
8            0  5.307385e+05
9            0  4.868420e+05
10           0  3.745839e+05
11           0  1.112982e+06
12           0  1.184739e+06
13           0  6.294180e+05
14           0  7.694187e+05
15           0  4.881296e+05
16           0  2.076599e+05
17           0  2.218239e+05
18           0  3.816073e+05
19           0  6.212240e+05
20           0  6.083476e+05
21           0  3.620587e+05
22           0  4.223433e+05
23           0  2.695833e+05
24           0  1.600176e+05
25           0  3.482459e+05
26           0  4.935143e+05
27           0  3.640487e+05
28           0  3.193328e+05
29           0  2.608040e+05
...        ...           ...
287370     419  5.363976e+04
287371     419  1.709666e+04
287372     419  2.771118e+04
287373     419  2.787323e+04
287374     419  1.831206e+04
287375     419  3.403127e+03
287376     419  4.051342e+02
287377     419  2.463216e+04
287378     419  7.948733e+04
287379     419  5.404490e+04
287380     419  2.746810e+04
287381     419  2.657680e+04
287382     419  3.484154e+03
287383     419  3.241073e+03
287384     419  8.613153e+04
287385     419  2.925069e+04
287386     419  4.440271e+04
287387     419  3.281587e+04
287388     419  3.176252e+04
287389     419  7.049335e+03
287390     419  1.863617e+03
287391     419  2.487524e+04
287392     419  2.560448e+04
287393     419  1.498996e+04
287394     419  7.073643e+04
287395     419  3.848775e+04
287396     419  1.466586e+04
287397     419  4.051342e+03
287398     419  2.617167e+04
287399     419  6.328196e+04

[287400 rows x 2 columns]

In [95]:
df #old

             DATE  ATM_ID  CLIENT_OUT  month_of_year
0      2015-01-01       0       91600              1
1      2015-01-02       0      136500              1
2      2015-01-03       0      335400              1
3      2015-01-04       0      379000              1
4      2015-01-05       0      344100              1
5      2015-01-06       0      575300              1
6      2015-01-07       0      158200              1
7      2015-01-08       0      296500              1
8      2015-01-09       0      453400              1
9      2015-01-10       0      415900              1
10     2015-01-11       0      320000              1
11     2015-01-12       0      950800              1
12     2015-01-13       0     1012100              1
13     2015-01-14       0      537700              1
14     2015-01-15       0      657300              1
15     2015-01-16       0      417000              1
16     2015-01-17       0      177400              1
17     2015-01-18       0      189500              1
18     2015-01-19       0      326000              1
19     2015-01-20       0      530700              1
20     2015-01-21       0      519700              1
21     2015-01-22       0      309300              1
22     2015-01-23       0      360800              1
23     2015-01-24       0      230300              1
24     2015-01-25       0      136700              1
25     2015-01-26       0      297500              1
26     2015-01-27       0      421600              1
27     2015-01-28       0      311000              1
28     2015-01-29       0      272800              1
29     2015-01-30       0      222800              1
...           ...     ...         ...            ...
287370 2017-07-17     419       66200              7
287371 2017-07-18     419       21100              7
287372 2017-07-19     419       34200              7
287373 2017-07-20     419       34400              7
287374 2017-07-21     419       22600              7
287375 2017-07-22     419        4200              7
287376 2017-07-23     419         500              7
287377 2017-07-24     419       30400              7
287378 2017-07-25     419       98100              7
287379 2017-07-26     419       66700              7
287380 2017-07-27     419       33900              7
287381 2017-07-28     419       32800              7
287382 2017-07-29     419        4300              7
287383 2017-07-30     419        4000              7
287384 2017-07-31     419      106300              7
287385 2017-08-01     419       36100              8
287386 2017-08-02     419       54800              8
287387 2017-08-03     419       40500              8
287388 2017-08-04     419       39200              8
287389 2017-08-05     419        8700              8
287390 2017-08-06     419        2300              8
287391 2017-08-07     419       30700              8
287392 2017-08-08     419       31600              8
287393 2017-08-09     419       18500              8
287394 2017-08-10     419       87300              8
287395 2017-08-11     419       47500              8
287396 2017-08-12     419       18100              8
287397 2017-08-13     419        5000              8
287398 2017-08-14     419       32300              8
287399 2017-08-15     419       78100              8

[287400 rows x 4 columns]

In the end:

In [5]:
# # multiply back by std
# df = MultiplyBySTD(df, stds)

In [137]:
# how to work with datetime
# from datetime import datetime, timedelta
# dftry = df.copy()
# for N in [1,2,3,4,5]:
#     dftry['date_{}_days_ago'.format(N)] = dftry.DATE - timedelta(days=7*N)

In [207]:
for N in [1,2,3,4,5]:
    df['out_{}_weeks_ago'.format(N)] = df.CLIENT_OUT.shift(7*N)
    df['out_{}_weeks_ago_plus_day'.format(N)] = df.CLIENT_OUT.shift(7*N-1)
    df['out_{}_weeks_ago_minus_day'.format(N)] = df.CLIENT_OUT.shift(7*N+1)