# from final_submission

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import CreatingNewDataframe
from functions.date_split import split_month_test

%matplotlib inline

from sklearn.model_selection import cross_val_score

np.random.seed(seed=42)

from score_submission import our_scorer, scorer
from sklearn.pipeline import Pipeline
from sklearn import datasets, linear_model
from sklearn.base import BaseEstimator, TransformerMixin

In [2]:
df_initial = pd.read_csv('train.csv.zip', parse_dates=['DATE'])
ids = np.unique(df_initial.ATM_ID)
np.random.shuffle(ids)

In [42]:
df.DATE[-1]

KeyError: -1

In [40]:
df.DATE.shift(2)

0               NaT
1               NaT
2        2015-01-01
3        2015-01-02
4        2015-01-03
5        2015-01-04
6        2015-01-05
7        2015-01-06
8        2015-01-07
9        2015-01-08
10       2015-01-09
11       2015-01-10
12       2015-01-11
13       2015-01-12
14       2015-01-13
15       2015-01-14
16       2015-01-15
17       2015-01-16
18       2015-01-17
19       2015-01-18
20       2015-01-19
21       2015-01-20
22       2015-01-21
23       2015-01-22
24       2015-01-23
25       2015-01-24
26       2015-01-25
27       2015-01-26
28       2015-01-27
29       2015-01-28
            ...
287370   2017-07-15
287371   2017-07-16
287372   2017-07-17
287373   2017-07-18
287374   2017-07-19
287375   2017-07-20
287376   2017-07-21
287377   2017-07-22
287378   2017-07-23
287379   2017-07-24
287380   2017-07-25
287381   2017-07-26
287382   2017-07-27
287383   2017-07-28
287384   2017-07-29
287385   2017-07-30
287386   2017-07-31
287387   2017-08-01
287388   2017-08-02
287389   2017-08-03
287390   2017-08-04
287391   2017-08-05
287392   2017-08-06
287393   2017-08-07
287394   2017-08-08
287395   2017-08-09
287396   2017-08-10
287397   2017-08-11
287398   2017-08-12
287399   2017-08-13
Name: DATE, Length: 287400, dtype: datetime64[ns]

In [3]:
class SeparatingAtmIds(BaseEstimator, TransformerMixin):
    """Extract the subject & body from a usenet post in a single pass.

    Takes a sequence of strings and produces a dict of sequences.  Keys are
    `subject` and `body`.
    """
    def fit(self, x, y=None):
        self.train = True
        return self

    def transform(self, X):
        if self.train:
            print("TRAIN ONLY CALLED")
            return CreatingNewDataframe.CleanDataFrame_TRAIN_ONLY(df=X, window_size=15)
        else:
            print("TEST ONLY CALLED")
            return CreatingNewDataframe.CleanDataFrame_TEST(df=X, window_size=15)

In [4]:
class DroppingAtmIdsIn_X(BaseEstimator, TransformerMixin):
    """Extract the subject & body from a usenet post in a single pass.

    Takes a sequence of strings and produces a dict of sequences.  Keys are
    `subject` and `body`.
    """
    def fit(self, x=None, y=None):
        return self

    def transform(self, X):
        return X

In [6]:
class FinalStepForSubmission(BaseEstimator, TransformerMixin):
    """
    FINAL
    """
    
    def fit(self, X, y=None):
        return self

    def predict(self, X):
        X = X[['DATE', "ATM_ID", "y_predict"]]
        X.columns = ['DATE', "ATM_ID", "CLIENT_OUT"]
        print(len(np.unique(X.ATM_ID)))
        return X
        
#     def transform(self, X):
#         raise "asdasdasd"

class WrapperForEstimator(BaseEstimator, TransformerMixin):
    """
    FINAL
    """
    def __init__(self, estimator):
        self.estimator = estimator
    
    
    def fit(self, X, y=None):
#         print("fit called")
        self.estimator.fit(X[['ATM_ID']], y)
        return self

    def transform(self, X):
#         print("transform called")
        y_pred = self.estimator.predict(X[['ATM_ID']])
        X_tr = X.copy()
        X_tr['y_predict'] = y_pred
        return X_tr

In [8]:
pipeline = Pipeline([
#     ('SeparatingAtmIds', SeparatingAtmIds()),
    
    #('DroppingAtmIdsIn_X', )
    
    ('lasso', WrapperForEstimator(linear_model.Lasso())), #predict step
    
   
    ("submission", FinalStepForSubmission()),
    
    ]
)

In [9]:
X = df_initial[['DATE', 'ATM_ID']]
y = df_initial[['CLIENT_OUT']]

In [10]:
pipeline.fit(X, y)

Pipeline(memory=None,
     steps=[('lasso', WrapperForEstimator(estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False))), ('submission', FinalStepForSubmission())])

In [11]:
pipeline.predict(X)

300

             DATE  ATM_ID     CLIENT_OUT
0      2015-01-01       0  315602.973975
1      2015-01-02       0  315602.973975
2      2015-01-03       0  315602.973975
3      2015-01-04       0  315602.973975
4      2015-01-05       0  315602.973975
5      2015-01-06       0  315602.973975
6      2015-01-07       0  315602.973975
7      2015-01-08       0  315602.973975
8      2015-01-09       0  315602.973975
9      2015-01-10       0  315602.973975
10     2015-01-11       0  315602.973975
11     2015-01-12       0  315602.973975
12     2015-01-13       0  315602.973975
13     2015-01-14       0  315602.973975
14     2015-01-15       0  315602.973975
15     2015-01-16       0  315602.973975
16     2015-01-17       0  315602.973975
17     2015-01-18       0  315602.973975
18     2015-01-19       0  315602.973975
19     2015-01-20       0  315602.973975
20     2015-01-21       0  315602.973975
21     2015-01-22       0  315602.973975
22     2015-01-23       0  315602.973975
23     2015-01-24       0  315602.973975
24     2015-01-25       0  315602.973975
25     2015-01-26       0  315602.973975
26     2015-01-27       0  315602.973975
27     2015-01-28       0  315602.973975
28     2015-01-29       0  315602.973975
29     2015-01-30       0  315602.973975
...           ...     ...            ...
287370 2017-07-17     419  424014.084930
287371 2017-07-18     419  424014.084930
287372 2017-07-19     419  424014.084930
287373 2017-07-20     419  424014.084930
287374 2017-07-21     419  424014.084930
287375 2017-07-22     419  424014.084930
287376 2017-07-23     419  424014.084930
287377 2017-07-24     419  424014.084930
287378 2017-07-25     419  424014.084930
287379 2017-07-26     419  424014.084930
287380 2017-07-27     419  424014.084930
287381 2017-07-28     419  424014.084930
287382 2017-07-29     419  424014.084930
287383 2017-07-30     419  424014.084930
287384 2017-07-31     419  424014.084930
287385 2017-08-01     419  424014.084930
287386 2017-08-02     419  424014.084930
287387 2017-08-03     419  424014.084930
287388 2017-08-04     419  424014.084930
287389 2017-08-05     419  424014.084930
287390 2017-08-06     419  424014.084930
287391 2017-08-07     419  424014.084930
287392 2017-08-08     419  424014.084930
287393 2017-08-09     419  424014.084930
287394 2017-08-10     419  424014.084930
287395 2017-08-11     419  424014.084930
287396 2017-08-12     419  424014.084930
287397 2017-08-13     419  424014.084930
287398 2017-08-14     419  424014.084930
287399 2017-08-15     419  424014.084930

[287400 rows x 3 columns]

# My Old code

In [12]:
import numpy as np
from matplotlib import pyplot as plt
#%matplotlib inline
import pandas as pd

In [13]:
from tqdm import tqdm_notebook

In [26]:
df = pd.read_csv('train.csv.zip', parse_dates=['DATE'])
df['week_day'] = df.DATE.dt.dayofweek

In [31]:
gb = df['CLIENT_OUT'].groupby(df['ATM_ID'])

In [36]:
class MeanByIdFeature(BaseEstimator, TransformerMixin):
    def fit(self, X=None, y=None):
        return self

    def transform(self, X):
        return X['CLIENT_OUT'].groupby(X['ATM_ID']).transform('mean')

In [34]:

df['MEAN'] = df['CLIENT_OUT'].groupby(df['ATM_ID']).transform('mean')

In [35]:
df

             DATE  ATM_ID  CLIENT_OUT  week_day          Data4           MEAN
0      2015-01-01       0       91600         3  438624.425887  438624.425887
1      2015-01-02       0      136500         4  438624.425887  438624.425887
2      2015-01-03       0      335400         5  438624.425887  438624.425887
3      2015-01-04       0      379000         6  438624.425887  438624.425887
4      2015-01-05       0      344100         0  438624.425887  438624.425887
5      2015-01-06       0      575300         1  438624.425887  438624.425887
6      2015-01-07       0      158200         2  438624.425887  438624.425887
7      2015-01-08       0      296500         3  438624.425887  438624.425887
8      2015-01-09       0      453400         4  438624.425887  438624.425887
9      2015-01-10       0      415900         5  438624.425887  438624.425887
10     2015-01-11       0      320000         6  438624.425887  438624.425887
11     2015-01-12       0      950800         0  438624.425887  438624.425887
12     2015-01-13       0     1012100         1  438624.425887  438624.425887
13     2015-01-14       0      537700         2  438624.425887  438624.425887
14     2015-01-15       0      657300         3  438624.425887  438624.425887
15     2015-01-16       0      417000         4  438624.425887  438624.425887
16     2015-01-17       0      177400         5  438624.425887  438624.425887
17     2015-01-18       0      189500         6  438624.425887  438624.425887
18     2015-01-19       0      326000         0  438624.425887  438624.425887
19     2015-01-20       0      530700         1  438624.425887  438624.425887
20     2015-01-21       0      519700         2  438624.425887  438624.425887
21     2015-01-22       0      309300         3  438624.425887  438624.425887
22     2015-01-23       0      360800         4  438624.425887  438624.425887
23     2015-01-24       0      230300         5  438624.425887  438624.425887
24     2015-01-25       0      136700         6  438624.425887  438624.425887
25     2015-01-26       0      297500         0  438624.425887  438624.425887
26     2015-01-27       0      421600         1  438624.425887  438624.425887
27     2015-01-28       0      311000         2  438624.425887  438624.425887
28     2015-01-29       0      272800         3  438624.425887  438624.425887
29     2015-01-30       0      222800         4  438624.425887  438624.425887
...           ...     ...         ...       ...            ...            ...
287370 2017-07-17     419       66200         0   37550.000000   37550.000000
287371 2017-07-18     419       21100         1   37550.000000   37550.000000
287372 2017-07-19     419       34200         2   37550.000000   37550.000000
287373 2017-07-20     419       34400         3   37550.000000   37550.000000
287374 2017-07-21     419       22600         4   37550.000000   37550.000000
287375 2017-07-22     419        4200         5   37550.000000   37550.000000
287376 2017-07-23     419         500         6   37550.000000   37550.000000
287377 2017-07-24     419       30400         0   37550.000000   37550.000000
287378 2017-07-25     419       98100         1   37550.000000   37550.000000
287379 2017-07-26     419       66700         2   37550.000000   37550.000000
287380 2017-07-27     419       33900         3   37550.000000   37550.000000
287381 2017-07-28     419       32800         4   37550.000000   37550.000000
287382 2017-07-29     419        4300         5   37550.000000   37550.000000
287383 2017-07-30     419        4000         6   37550.000000   37550.000000
287384 2017-07-31     419      106300         0   37550.000000   37550.000000
287385 2017-08-01     419       36100         1   37550.000000   37550.000000
287386 2017-08-02     419       54800         2   37550.000000   37550.000000
287387 2017-08-03     419       40500         3   37550.000000   37550.000000
287388 2017-08-04     419       39200         4   37550.000000   37550.000000
287389 2017-08-05     419        8700         5   37550.000000   37550.000000
287390 2017-08-06     419        2300         6   37550.000000   37550.000000
287391 2017-08-07     419       30700         0   37550.000000   37550.000000
287392 2017-08-08     419       31600         1   37550.000000   37550.000000
287393 2017-08-09     419       18500         2   37550.000000   37550.000000
287394 2017-08-10     419       87300         3   37550.000000   37550.000000
287395 2017-08-11     419       47500         4   37550.000000   37550.000000
287396 2017-08-12     419       18100         5   37550.000000   37550.000000
287397 2017-08-13     419        5000         6   37550.000000   37550.000000
287398 2017-08-14     419       32300         0   37550.000000   37550.000000
287399 2017-08-15     419       78100         1   37550.000000   37550.000000

[287400 rows x 6 columns]

In [16]:
gb.mean()

          CLIENT_OUT  week_day
ATM_ID
0       4.386244e+05  3.001044
2       4.842599e+04  3.001044
3       2.692042e+05  3.001044
4       5.138682e+05  3.001044
5       3.198094e+05  3.001044
6       6.579970e+05  3.001044
7       1.417449e+05  3.001044
8       1.734052e+05  3.001044
9       1.649730e+05  3.001044
10      2.386539e+05  3.001044
11      9.391827e+04  3.001044
14      1.973609e+05  3.001044
17      6.398742e+05  3.001044
18      1.035998e+05  3.001044
19      1.024656e+06  3.001044
21      6.533670e+05  3.001044
22      3.841303e+05  3.001044
23      2.763599e+05  3.001044
24      2.198894e+05  3.001044
25      3.035822e+05  3.001044
26      2.473355e+05  3.001044
27      3.613841e+05  3.001044
28      2.491211e+05  3.001044
29      8.098653e+04  3.001044
30      2.171483e+05  3.001044
31      4.871054e+05  3.001044
32      1.878404e+05  3.001044
33      9.546712e+04  3.001044
34      2.844541e+04  3.001044
35      5.243639e+05  3.001044
...              ...       ...
375     4.651952e+04  3.001044
376     1.819399e+05  3.001044
378     6.764283e+05  3.001044
379     7.860349e+05  3.001044
380     1.472228e+05  3.001044
381     3.295547e+05  3.001044
382     2.186649e+05  3.001044
383     2.364814e+05  3.001044
385     2.411212e+05  3.001044
386     4.177007e+05  3.001044
387     1.815023e+05  3.001044
389     1.814444e+05  3.001044
390     1.957923e+04  3.001044
391     1.786486e+05  3.001044
394     3.857208e+05  3.001044
395     2.058904e+05  3.001044
396     1.118827e+05  3.001044
399     3.307787e+04  3.001044
401     2.971943e+05  3.001044
403     2.453825e+05  3.001044
404     3.441995e+05  3.001044
405     5.623382e+04  3.001044
406     2.093330e+05  3.001044
407     5.920355e+04  3.001044
408     7.337996e+04  3.001044
413     4.085020e+05  3.001044
414     4.943967e+04  3.001044
415     1.123189e+05  3.001044
418     2.064067e+05  3.001044
419     3.755000e+04  3.001044

[300 rows x 2 columns]

In [20]:
df['MEAN'] = gb.transform(np.mean)

ValueError: Wrong number of items passed 2, placement implies 1

In [ ]:
from sklearn.model_selection import train_test_split
ids = df.ATM_ID.unique()

In [ ]:
from functions.date_split import split_month_test
train_df, test_df = split_month_test(df, 33, 100, 10)
train_df.describe(include='all')

In [ ]:
df.describe(include='all')

In [ ]:
df_pivot = pd.pivot_table(df, values='CLIENT_OUT', index='ATM_ID', columns='DATE', margins=True, margins_name='All')

df.CLIENT_OUT.hist(bins=100)

In [ ]:
ids = df.ATM_ID.unique()

for id in ids:
    plt.figure(figsize=(15,10))
    plt.title('ATM_ID {0}'.format(id))
    plt.plot(df[df.ATM_ID == id].DATE, df[df.ATM_ID==id].CLIENT_OUT)
    plt.show()

In [ ]:
# The dates to predict
pred_dates  = ['2017-08-16', '2017-08-17', '2017-08-18', '2017-08-19',
               '2017-08-20', '2017-08-21', '2017-08-22', '2017-08-23',
               '2017-08-24', '2017-08-25', '2017-08-26', '2017-08-27',
               '2017-08-28', '2017-08-29', '2017-08-30', '2017-08-31',
               '2017-09-01', '2017-09-02', '2017-09-03', '2017-09-04',
               '2017-09-05', '2017-09-06', '2017-09-07', '2017-09-08',
               '2017-09-09', '2017-09-10', '2017-09-11', '2017-09-12',
               '2017-09-13', '2017-09-14', '2017-09-15', '2017-09-16',
               '2017-09-17']
rows = []
for id in ids:
    mean = df[df.ATM_ID==id].CLIENT_OUT.mean()
    for date in pred_dates:
        rows.append((date, id, mean))
submission = pd.DataFrame(rows, columns = ['DATE', 'ATM_ID', 'CLIENT_OUT'])
submission.to_csv('submission.csv', index=False)

In [ ]:
len(pred_dates)

In [ ]:
def mean_submission(df):
    res = []
    for id in df.ATM_ID.unique():
        mean = df[df.ATM_ID==id].CLIENT_OUT.mean()
        for date in df.DATE.unique():
            res.append((date, id, mean))
    res = pd.DataFrame(res, columns = ['DATE', 'ATM_ID', 'CLIENT_OUT'])
    return res

## Get last month to test

In [ ]:
from datetime import datetime, timedelta
month = 30
d = datetime.today() - timedelta(days=month)

In [ ]:
from score_submission import scorer

In [ ]:
from functions.date_split import split_month_test
train_df, test_df = split_month_test(df, len(pred_dates), 100)

In [ ]:
test_df[test_df.ATM_ID==0]

In [ ]:
test_df.dtypes

In [ ]:
mn = mean_submission(test_df)
mn.dtypes

In [ ]:
scorer(test_df.reset_index(), mean_submission(test_df))

In [ ]:
import pickle

In [ ]:
model = pickle.load(open("rf_clf.pickle", "rb"))

In [ ]:
model.predict(test_df)