In [1]:
import numpy as np
from matplotlib import pyplot as plt
#%matplotlib inline
import pandas as pd

In [2]:
from tqdm import tqdm_notebook

In [3]:
df = pd.read_csv('train.csv.zip', parse_dates=['DATE'])
df['week_day'] = df.DATE.dt.dayofweek

In [4]:
df.describe(include='all')

                       DATE        ATM_ID    CLIENT_OUT       week_day
count                287400  287400.00000  2.874000e+05  287400.000000
unique                  958           NaN           NaN            NaN
top     2015-02-25 00:00:00           NaN           NaN            NaN
freq                    300           NaN           NaN            NaN
first   2015-01-01 00:00:00           NaN           NaN            NaN
last    2017-08-15 00:00:00           NaN           NaN            NaN
mean                    NaN     203.08000  3.681474e+05       3.001044
std                     NaN     123.98492  4.288130e+05       2.000786
min                     NaN       0.00000 -4.100000e+04       0.000000
25%                     NaN      88.75000  3.440000e+04       1.000000
50%                     NaN     206.00000  2.188000e+05       3.000000
75%                     NaN     309.25000  5.586000e+05       5.000000
max                     NaN     419.00000  5.752900e+06       6.000000

In [5]:
df_pivot = pd.pivot_table(df, values='CLIENT_OUT', index='ATM_ID', columns='DATE', margins=True, margins_name='All')

df.CLIENT_OUT.hist(bins=100)

In [6]:
ids = df.ATM_ID.unique()

In [7]:
df.sort_index()

             DATE  ATM_ID  CLIENT_OUT  week_day
0      2015-01-01       0       91600         3
1      2015-01-02       0      136500         4
2      2015-01-03       0      335400         5
3      2015-01-04       0      379000         6
4      2015-01-05       0      344100         0
5      2015-01-06       0      575300         1
6      2015-01-07       0      158200         2
7      2015-01-08       0      296500         3
8      2015-01-09       0      453400         4
9      2015-01-10       0      415900         5
10     2015-01-11       0      320000         6
11     2015-01-12       0      950800         0
12     2015-01-13       0     1012100         1
13     2015-01-14       0      537700         2
14     2015-01-15       0      657300         3
15     2015-01-16       0      417000         4
16     2015-01-17       0      177400         5
17     2015-01-18       0      189500         6
18     2015-01-19       0      326000         0
19     2015-01-20       0      530700         1
20     2015-01-21       0      519700         2
21     2015-01-22       0      309300         3
22     2015-01-23       0      360800         4
23     2015-01-24       0      230300         5
24     2015-01-25       0      136700         6
25     2015-01-26       0      297500         0
26     2015-01-27       0      421600         1
27     2015-01-28       0      311000         2
28     2015-01-29       0      272800         3
29     2015-01-30       0      222800         4
...           ...     ...         ...       ...
287370 2017-07-17     419       66200         0
287371 2017-07-18     419       21100         1
287372 2017-07-19     419       34200         2
287373 2017-07-20     419       34400         3
287374 2017-07-21     419       22600         4
287375 2017-07-22     419        4200         5
287376 2017-07-23     419         500         6
287377 2017-07-24     419       30400         0
287378 2017-07-25     419       98100         1
287379 2017-07-26     419       66700         2
287380 2017-07-27     419       33900         3
287381 2017-07-28     419       32800         4
287382 2017-07-29     419        4300         5
287383 2017-07-30     419        4000         6
287384 2017-07-31     419      106300         0
287385 2017-08-01     419       36100         1
287386 2017-08-02     419       54800         2
287387 2017-08-03     419       40500         3
287388 2017-08-04     419       39200         4
287389 2017-08-05     419        8700         5
287390 2017-08-06     419        2300         6
287391 2017-08-07     419       30700         0
287392 2017-08-08     419       31600         1
287393 2017-08-09     419       18500         2
287394 2017-08-10     419       87300         3
287395 2017-08-11     419       47500         4
287396 2017-08-12     419       18100         5
287397 2017-08-13     419        5000         6
287398 2017-08-14     419       32300         0
287399 2017-08-15     419       78100         1

[287400 rows x 4 columns]

In [8]:
pd.pivot_table(df, values='CLIENT_OUT', index='DATE', columns='ATM_ID')

ATM_ID,0,2,3,4,5,6,7,8,9,10,...,404,405,406,407,408,413,414,415,418,419
DATE,,,,,,,,,,,,,,,,,,,,,
2015-01-01,91600,0,1200,188400,64900,1700,0,0,3800,46000,...,0,0,0,4600,0,200,0,13500,56100,0
2015-01-02,136500,0,2200,223000,87700,133600,0,0,3200,143600,...,0,300,1300,0,0,104400,100,18200,72600,0
2015-01-03,335400,0,12100,382000,159100,246100,0,0,8900,190300,...,0,4000,16400,17700,0,295900,0,30900,43300,0
2015-01-04,379000,0,18000,459400,155300,244000,0,0,7900,178700,...,0,0,15200,1600,0,267100,0,3300,70200,0
2015-01-05,344100,0,700,306400,175100,208300,17300,356900,5300,155600,...,0,0,8000,8000,0,304500,0,12000,90700,0
2015-01-06,575300,0,3000,199900,119700,274400,3600,0,8500,131600,...,0,1200,0,29200,0,286600,0,6600,107400,0
2015-01-07,158200,3000,18600,259500,137400,254300,100,0,1400,146100,...,0,0,0,0,2700,136700,0,300,14600,0
2015-01-08,296500,14700,19900,190500,115800,442400,9900,313900,42100,159000,...,0,0,10600,5200,27800,272100,0,14900,38000,0
2015-01-09,453400,13300,7400,317500,195800,302600,59000,0,7200,265300,...,0,0,52000,1300,3000,365400,16700,14000,68800,0
2015-01-10,415900,0,4100,331500,104300,321100,23000,354800,7300,229200,...,0,0,7600,8000,28700,386400,0,5800,88300,0
2015-01-11,320000,0,34700,276900,166100,259400,5900,0,13300,222700,...,0,300,0,3300,16700,414600,1400,70600,108400,0
2015-01-12,950800,50000,225700,507600,208900,479700,187500,649600,186300,259300,...,0,44600,135200,224300,104500,401200,40600,140400,263200,29400
2015-01-13,1012100,17900,132700,250800,260000,514600,216100,554800,153700,207400,...,0,75700,244400,365000,85000,203600,19400,236500,1004800,83500
2015-01-14,537700,17100,83700,453300,188600,616100,205000,487600,92400,326400,...,0,5400,220100,98100,138800,348700,67000,184500,684400,124700
2015-01-15,657300,229900,485100,240800,249800,747400,200700,897300,233800,262100,...,0,304400,1751300,162100,53300,411300,125600,3300,585800,197400
2015-01-16,417000,272600,805800,416000,226000,656100,190200,514000,140600,546200,...,0,1079800,566700,122100,108300,335600,106500,0,604300,114300
2015-01-17,177400,0,20900,668900,194100,585300,63600,582000,48800,277900,...,0,122800,54900,11300,1700,412000,0,0,109900,17200
2015-01-18,189500,0,2500,639000,137200,397300,38400,0,52500,157700,...,0,63800,6300,10100,1000,442000,3300,0,102500,11300
2015-01-19,326000,134900,263000,498100,122200,557100,217000,558100,190100,233900,...,0,195000,336100,60500,52600,304600,103400,0,412400,124100
2015-01-20,530700,64100,299500,433900,251800,455200,359600,801400,318600,292100,...,0,61500,286200,44200,72200,192900,16100,0,270100,59300
2015-01-21,519700,102100,129900,881200,228700,586200,170300,892500,230300,242100,...,0,90500,223600,45100,155900,318600,27900,0,21200,51600
2015-01-22,309300,102200,295700,447700,200000,533300,296100,1001400,136400,313000,...,0,31300,174500,154900,345800,337600,167200,0,0,51500
2015-01-23,360800,87000,569100,943200,253600,566400,208100,397600,235100,254500,...,0,70400,266300,572000,456600,406100,229000,0,0,27800
2015-01-24,230300,0,58300,869900,152700,489600,79700,436100,51200,238800,...,0,7000,26600,23300,59100,471500,3000,0,0,2400
2015-01-25,136700,0,10700,463500,171200,547200,2000,0,138300,198600,...,0,4700,8700,8000,19000,307800,200,0,0,7200
2015-01-26,297500,113300,309100,372100,328400,598700,168900,450700,206700,267800,...,0,71100,196000,124000,146300,264900,123800,0,225300,29600
2015-01-27,421600,11100,450600,454600,145700,646900,104700,444500,193800,273700,...,0,37900,147400,18400,86200,406400,50200,0,207500,92100
2015-01-28,311000,19500,451800,379000,129400,856900,144200,333300,174200,238100,...,0,47300,425100,0,111000,270100,34700,0,103200,53000
2015-01-29,272800,24800,782000,405100,176300,667700,118300,431700,288300,221300,...,0,28400,249900,0,131100,362100,63600,0,158000,112400
2015-01-30,222800,41400,2473400,610300,178100,692300,149700,467900,305400,326700,...,0,112400,285700,0,191600,325800,59000,0,200500,48300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-07-17,472000,5400,242600,1033300,516400,1292200,125000,12700,250100,262500,...,1117300,225300,375800,25200,36300,806300,110600,57900,239800,66200
2017-07-18,325600,8200,170400,412400,815200,893300,153600,7900,217200,287000,...,730400,111100,206600,49100,72100,830900,22900,217700,327400,21100
2017-07-19,420300,12700,141900,551400,655700,778300,256500,4600,212700,36200,...,777000,102800,148200,62300,34500,818000,66400,134800,229000,34200
2017-07-20,368700,14600,269100,710800,696200,997600,161800,39700,333200,800400,...,852000,107600,166600,66700,429800,1011900,123800,232100,187500,34400
2017-07-21,696300,27500,325400,532200,576800,831800,222200,14000,232700,334500,...,800900,93100,308700,34000,0,1117500,116800,141600,312900,22600
2017-07-22,201900,0,12000,136100,2300,481700,2300,13800,53800,21900,...,468500,12800,0,1300,0,333400,1300,107500,28600,4200
2017-07-23,157700,0,3000,0,1400,403600,0,1000,14800,4900,...,173300,13500,0,800,0,0,1400,19400,52400,500
2017-07-24,323800,37200,308500,1042500,348300,1017300,252900,8700,15500,299100,...,502600,53100,85500,70400,124200,380700,106400,96800,268400,30400
2017-07-25,269800,211200,177800,583700,336100,1078600,95000,10500,0,313800,...,920000,163400,163600,51800,68900,531700,125200,195500,227900,98100
2017-07-26,562800,55600,145900,755900,452000,847400,192700,206800,0,546100,...,691400,36100,222100,38400,72800,622900,112700,65500,153900,66700
2017-07-27,705300,80000,327100,651400,1067500,918300,73000,95700,0,274600,...,578500,67000,2300,23600,27200,826400,35200,80700,253400,33900
2017-07-28,436400,89700,285100,410900,1050800,795100,69400,38600,0,526700,...,663400,87800,452500,23100,63000,1032200,61800,53500,33900,32800
2017-07-29,182000,0,3300,88200,3600,306200,8900,31600,0,28500,...,453300,4300,2500,30100,800,337500,0,53400,58500,4300
2017-07-30,29600,0,1700,0,3800,296100,3300,6600,0,40700,...,134200,0,0,400,400,0,500,500,41800,4000
2017-07-31,401900,86300,552400,656500,719600,805100,94300,19200,0,383400,...,714500,77900,433100,112500,51000,1280500,45900,140300,211900,106300
2017-08-01,451900,16100,449600,1125000,534900,872100,19000,22900,0,432500,...,591700,90500,94100,46500,87500,908000,19600,149900,174900,36100
2017-08-02,512400,37200,336300,494000,509600,1134000,115200,35300,0,353600,...,813100,0,190300,42300,27000,1029000,129700,219100,89900,54800
2017-08-03,421000,35400,143800,530000,656300,1074400,140800,38300,0,254100,...,1422200,2500,363600,67400,41200,1611700,130400,209200,133000,40500
2017-08-04,778600,27500,288400,485600,649000,1109400,169700,46400,0,794300,...,1197400,62700,386300,169700,120600,1675700,166300,209200,242700,39200
2017-08-05,462500,0,2300,51100,15900,618300,16900,1200,0,16600,...,575000,11200,2000,6000,3700,567800,1000,81500,128000,8700
2017-08-06,207600,0,27500,0,0,631600,34100,11600,0,18400,...,314700,0,0,700,6700,0,2000,52400,41200,2300
2017-08-07,543500,13700,194400,562400,411800,1000200,204000,600,184700,452600,...,1215900,76700,308800,32500,186400,1027700,96600,159400,20600,30700
2017-08-08,501600,4600,254500,1042800,339900,1028400,63400,0,260100,585100,...,584900,117500,147800,81300,133600,963000,82400,300000,137600,31600
2017-08-09,538900,27900,247400,642500,264500,884900,40600,0,143000,361400,...,912500,98300,229700,19100,66500,1165900,56700,333300,255000,18500
2017-08-10,387200,33100,302400,830400,440200,1108300,83600,73500,306400,428000,...,986400,196700,137400,61300,130400,1843400,120100,210300,778900,87300
2017-08-11,591400,33100,360700,756000,362000,949600,129900,2600,171000,752200,...,947500,180000,1195500,42600,128500,964800,53100,154200,324800,47500
2017-08-12,160400,0,3000,117100,0,585600,22400,0,35100,9300,...,464400,11200,0,4300,2400,678900,3000,126500,0,18100
2017-08-13,195100,0,1700,0,0,511200,0,0,26000,22500,...,185400,25700,300,0,200,0,800,39900,0,5000
2017-08-14,732100,24000,115600,511000,0,860900,35500,55500,184200,164500,...,1396600,312800,668300,31900,53200,1166000,89500,151500,119600,32300
2017-08-15,629700,12300,229300,509000,0,1236100,61300,44600,267300,301300,...,1116600,162700,660100,27200,101200,1283100,21200,213700,249300,78100

for id in ids:
    plt.figure(figsize=(15,10))
    plt.title('ATM_ID {0}'.format(id))
    plt.plot(df[df.ATM_ID == id].DATE, df[df.ATM_ID==id].CLIENT_OUT)
    plt.show()

In [9]:
# The dates to predict
pred_dates  = ['2017-08-16', '2017-08-17', '2017-08-18', '2017-08-19',
               '2017-08-20', '2017-08-21', '2017-08-22', '2017-08-23',
               '2017-08-24', '2017-08-25', '2017-08-26', '2017-08-27',
               '2017-08-28', '2017-08-29', '2017-08-30', '2017-08-31',
               '2017-09-01', '2017-09-02', '2017-09-03', '2017-09-04',
               '2017-09-05', '2017-09-06', '2017-09-07', '2017-09-08',
               '2017-09-09', '2017-09-10', '2017-09-11', '2017-09-12',
               '2017-09-13', '2017-09-14', '2017-09-15', '2017-09-16',
               '2017-09-17']
rows = []
for id in ids:
    mean = df[df.ATM_ID==id].CLIENT_OUT.mean()
    for date in pred_dates:
        rows.append((date, id, mean))
submission = pd.DataFrame(rows, columns = ['DATE', 'ATM_ID', 'CLIENT_OUT'])
submission.to_csv('submission.csv', index=False)

In [18]:
def mean_submission(df):
    res = []
    for id in df.ATM_ID.unique():
        mean = df[df.ATM_ID==id].CLIENT_OUT.mean()
        for date in df.DATE.unique():
            res.append((date, id, mean))
    res = pd.DataFrame(res, columns = ['DATE', 'ATM_ID', 'CLIENT_OUT'])
    return res

## Get last month to test

In [11]:
from datetime import datetime, timedelta
month = 30
d = datetime.today() - timedelta(days=month)

In [12]:
from score_submission import scorer

In [13]:
from functions.date_split import split_month_test
train_df, test_df = split_month_test(df, len(pred_dates), 100)

In [14]:
test_df[test_df.ATM_ID==0]

          DATE  ATM_ID  CLIENT_OUT  week_day
925 2017-07-14       0      593800         4
926 2017-07-15       0      217800         5
927 2017-07-16       0      207500         6
928 2017-07-17       0      472000         0
929 2017-07-18       0      325600         1
930 2017-07-19       0      420300         2
931 2017-07-20       0      368700         3
932 2017-07-21       0      696300         4
933 2017-07-22       0      201900         5
934 2017-07-23       0      157700         6
935 2017-07-24       0      323800         0
936 2017-07-25       0      269800         1
937 2017-07-26       0      562800         2
938 2017-07-27       0      705300         3
939 2017-07-28       0      436400         4
940 2017-07-29       0      182000         5
941 2017-07-30       0       29600         6
942 2017-07-31       0      401900         0
943 2017-08-01       0      451900         1
944 2017-08-02       0      512400         2
945 2017-08-03       0      421000         3
946 2017-08-04       0      778600         4
947 2017-08-05       0      462500         5
948 2017-08-06       0      207600         6
949 2017-08-07       0      543500         0
950 2017-08-08       0      501600         1
951 2017-08-09       0      538900         2
952 2017-08-10       0      387200         3
953 2017-08-11       0      591400         4
954 2017-08-12       0      160400         5
955 2017-08-13       0      195100         6
956 2017-08-14       0      732100         0
957 2017-08-15       0      629700         1

In [25]:
test_df.dtypes

DATE          datetime64[ns]
ATM_ID                 int64
CLIENT_OUT             int64
week_day               int64
dtype: object

In [24]:
mn = mean_submission(test_df)
mn.dtypes

DATE          datetime64[ns]
ATM_ID                 int64
CLIENT_OUT           float64
dtype: object

In [26]:
scorer(test_df.reset_index(), mean_submission(test_df))

0.5861753307813131

In [27]:
import pickle

In [29]:
model = pickle.load(open("rf_clf.pickle", "rb"))

In [30]:
model.predict(test_df)

TypeError: float() argument must be a string or a number, not 'Timestamp'