In [1]:
import pandas as pd
import numpy as np
from score_submission import our_scorer, scorer
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import Pipeline
from sklearn import datasets, linear_model
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.ensemble import RandomForestRegressor
import pickle

In [2]:
from functions.date_split import split_month_test
from score_submission import our_scorer, scorer
#import functions.CreatingNewDataframe as CreatingNewDataframe
import functions.GenerateFis as Features
import functions.GenerateMeansWithOffset as MeansOffset
from functions.pipeline_steps import *

## Data

In [3]:
df_test = pd.read_csv('train.csv.zip', parse_dates=['DATE'])
ids = np.unique(df_test.ATM_ID)

### Добавим даты для predict

In [4]:
pred_dates  = np.array(['2017-08-16', '2017-08-17', '2017-08-18', '2017-08-19',
               '2017-08-20', '2017-08-21', '2017-08-22', '2017-08-23',
               '2017-08-24', '2017-08-25', '2017-08-26', '2017-08-27',
               '2017-08-28', '2017-08-29', '2017-08-30', '2017-08-31',
               '2017-09-01', '2017-09-02', '2017-09-03', '2017-09-04',
               '2017-09-05', '2017-09-06', '2017-09-07', '2017-09-08',
               '2017-09-09', '2017-09-10', '2017-09-11', '2017-09-12',
               '2017-09-13', '2017-09-14', '2017-09-15', '2017-09-16',
               '2017-09-17'], dtype='datetime64')

data = []
for id in ids:
    for date in pred_dates:
        data.append((date, id, np.nan))
df_test_append = pd.DataFrame(data=data, columns=['DATE', 'ATM_ID', 'CLIENT_OUT'])
df_test = df_test.append(df_test_append)

### Создадим фичи

In [5]:
df1, df2, df3, df4, df5 = Features.GenerateFisSasha(df_test)

In [6]:
test_days = len(pred_dates)
#_, test_y = split_month_test(df_initial, train_days) # для теста данных нет
_, test1_X = split_month_test(df5, test_days)

In [7]:
#test1_X = test1_X.drop(['CLIENT_OUT'], axis=1)

In [8]:
#test1_X = test1_X.drop(['CLIENT_OUT'], axis=1)
#test1_X = test1_X.dropna(subset=test1_X.columns.drop('CLIENT_OUT'))

In [9]:
test1_X

,DATE,ATM_ID,CLIENT_OUT,weekend_dummy,holiday_dummy,day_of_week_0,day_of_week_1,day_of_week_2,day_of_week_3,day_of_week_4,...,same_day_8_week_ago,mean_8_week_ago,std_8_week_ago,same_day_8_week_ago_plusday,same_day_8_week_ago_minusday,same_day_9_week_ago,mean_9_week_ago,std_9_week_ago,same_day_9_week_ago_plusday,same_day_9_week_ago_minusday
0,2017-08-16,0,NaN,0.000000,0.0,0.000000,0.000000,399242.857143,0.000000,0.000000,...,543000.0,514814.285714,156600.249346,384100.0,675100.0,838500.0,520557.142857,263764.723805,692300.0,598800.0
1,2017-08-17,0,NaN,0.000000,0.0,0.000000,0.000000,0.000000,357628.571429,0.000000,...,384100.0,470785.714286,140923.897058,462000.0,543000.0,692300.0,525657.142857,267156.900573,597600.0,838500.0
2,2017-08-18,0,NaN,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,355528.571429,...,462000.0,451414.285714,129438.420733,230500.0,384100.0,597600.0,502971.428571,250522.079628,265700.0,692300.0
3,2017-08-19,0,NaN,353257.142857,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,230500.0,446385.714286,138240.218805,307400.0,462000.0,265700.0,480342.857143,265537.359940,402400.0,597600.0
4,2017-08-20,0,NaN,370142.857143,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,307400.0,432814.285714,147622.914081,740100.0,230500.0,402400.0,515014.285714,230184.356756,427600.0,265700.0
5,2017-08-21,0,NaN,0.000000,0.0,367485.714286,0.000000,0.000000,0.000000,0.000000,...,740100.0,477457.142857,187617.330908,453800.0,307400.0,427600.0,546128.571429,193914.858587,675100.0,402400.0
6,2017-08-22,0,NaN,0.000000,0.0,0.000000,358142.857143,0.000000,0.000000,0.000000,...,453800.0,445842.857143,166183.782373,369900.0,740100.0,675100.0,557028.571429,199434.832416,543000.0,427600.0
7,2017-08-23,0,NaN,0.000000,0.0,0.000000,0.000000,385014.285714,0.000000,0.000000,...,369900.0,421114.285714,162146.841151,702700.0,453800.0,543000.0,514814.285714,156600.249346,384100.0,675100.0
8,2017-08-24,0,NaN,0.000000,0.0,0.000000,0.000000,0.000000,372242.857143,0.000000,...,702700.0,466628.571429,191993.573801,873900.0,369900.0,384100.0,470785.714286,140923.897058,462000.0,543000.0
9,2017-08-25,0,NaN,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,386885.714286,...,873900.0,525471.428571,245893.071031,353600.0,702700.0,462000.0,451414.285714,129438.420733,230500.0,384100.0
10,2017-08-26,0,NaN,384614.285714,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,353600.0,543057.142857,224776.651050,144000.0,873900.0,230500.0,446385.714286,138240.218805,307400.0,462000.0
11,2017-08-27,0,NaN,377500.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,144000.0,519714.285714,259179.908098,433000.0,353600.0,307400.0,432814.285714,147622.914081,740100.0,230500.0
12,2017-08-28,0,NaN,0.000000,0.0,356328.571429,0.000000,0.000000,0.000000,0.000000,...,433000.0,475842.857143,241012.426078,433100.0,144000.0,740100.0,477457.142857,187617.330908,453800.0,307400.0
13,2017-08-29,0,NaN,0.000000,0.0,0.000000,348357.142857,0.000000,0.000000,0.000000,...,433100.0,472885.714286,241454.546644,453000.0,433000.0,453800.0,445842.857143,166183.782373,369900.0,740100.0
14,2017-08-30,0,NaN,0.000000,0.0,0.000000,0.000000,368714.285714,0.000000,0.000000,...,453000.0,484757.142857,237558.644389,749400.0,433100.0,369900.0,421114.285714,162146.841151,702700.0,453800.0
15,2017-08-31,0,NaN,0.000000,0.0,0.000000,0.000000,0.000000,416800.000000,0.000000,...,749400.0,491428.571429,245231.133928,608500.0,453000.0,702700.0,466628.571429,191993.573801,873900.0,369900.0
16,2017-09-01,0,NaN,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,379671.428571,...,608500.0,453514.285714,190695.537691,233700.0,749400.0,873900.0,525471.428571,245893.071031,353600.0,702700.0
17,2017-09-02,0,NaN,376828.571429,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,233700.0,436385.714286,205941.119648,89300.0,608500.0,353600.0,543057.142857,224776.651050,144000.0,873900.0
18,2017-09-03,0,NaN,358528.571429,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,89300.0,428571.428571,219477.453013,490600.0,233700.0,144000.0,519714.285714,259179.908098,433000.0,353600.0
19,2017-09-04,0,NaN,0.000000,0.0,369685.714286,0.000000,0.000000,0.000000,0.000000,...,490600.0,436800.000000,220747.246113,391000.0,89300.0,433000.0,475842.857143,241012.426078,433100.0,144000.0
20,2017-09-05,0,NaN,0.000000,0.0,0.000000,395700.000000,0.000000,0.000000,0.000000,...,391000.0,430785.714286,221437.285543,232200.0,490600.0,433100.0,472885.714286,241454.546644,453000.0,433000.0
21,2017-09-06,0,NaN,0.000000,0.0,0.000000,0.000000,388500.000000,0.000000,0.000000,...,232200.0,399242.857143,233161.237896,458100.0,391000.0,453000.0,484757.142857,237558.644389,749400.0,433100.0
22,2017-09-07,0,NaN,0.000000,0.0,0.000000,0.000000,0.000000,347885.714286,0.000000,...,458100.0,357628.571429,180239.134802,593800.0,232200.0,749400.0,491428.571429,245231.133928,608500.0,453000.0
23,2017-09-08,0,NaN,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,396771.428571,...,593800.0,355528.571429,176883.424080,217800.0,458100.0,608500.0,453514.285714,190695.537691,233700.0,749400.0
24,2017-09-09,0,NaN,436842.857143,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,217800.0,353257.142857,178800.315596,207500.0,593800.0,233700.0,436385.714286,205941.119648,89300.0,608500.0
25,2017-09-10,0,NaN,462271.428571,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,207500.0,370142.857143,153510.692973,472000.0,217800.0,89300.0,428571.428571,219477.453013,490600.0,233700.0
26,2017-09-11,0,NaN,0.000000,0.0,482500.000000,0.000000,0.000000,0.000000,0.000000,...,472000.0,367485.714286,151222.093057,325600.0,207500.0,490600.0,436800.000000,220747.246113,391000.0,89300.0
27,2017-09-12,0,NaN,0.000000,0.0,0.000000,489600.000000,0.000000,0.000000,0.000000,...,325600.0,358142.857143,151547.130811,420300.0,472000.0,391000.0,430785.714286,221437.285543,232200.0,490600.0
28,2017-09-13,0,NaN,0.000000,0.0,0.000000,0.000000,493385.714286,0.000000,0.000000,...,420300.0,385014.285714,141860.605626,368700.0,325600.0,232200.0,399242.857143,233161.237896,458100.0,391000.0
29,2017-09-14,0,NaN,0.000000,0.0,0.000000,0.000000,0.000000,488557.142857,0.000000,...,368700.0,372242.857143,138160.207213,696300.0,420300.0,458100.0,357628.571429,180239.134802,593800.0,232200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9870,2017-08-19,419,NaN,31328.571429,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,2300.0,40157.142857,28031.937567,1100.0,56200.0,1400.0,29742.857143,26660.761250,1400.0,48800.0
9871,2017-08-20,419,NaN,32414.285714,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,1100.0,40114.285714,28101.211632,45000.0,2300.0,1400.0,29514.285714,26933.710511,72600.0,1400.0
9872,2017-08-21,419,NaN,0.000000,0.0,30428.571429,0.000000,0.000000,0.000000,0.000000,...,45000.0,36171.428571,24487.392285,1300.0,1100.0,72600.0,39814.285714,27762.290285,60900.0,1400.0
9873,2017-08-22,419,NaN,0.000000,0.0,0.000000,29257.142857,0.000000,0.000000,0.000000,...,1300.0,27657.142857,24815.509743,0.0,45000.0,60900.0,40414.285714,28229.501623,41400.0,72600.0
9874,2017-08-23,419,NaN,0.000000,0.0,0.000000,0.000000,28971.428571,0.000000,0.000000,...,0.0,21742.857143,25903.851524,35000.0,1300.0,41400.0,38514.285714,27547.076588,46300.0,60900.0
9875,2017-08-24,419,NaN,0.000000,0.0,0.000000,0.000000,0.000000,28257.142857,0.000000,...,35000.0,20128.571429,24428.515733,22000.0,0.0,46300.0,38971.428571,27662.171178,56200.0,41400.0
9876,2017-08-25,419,NaN,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,26657.142857,...,22000.0,15242.857143,18778.432410,7300.0,35000.0,56200.0,40028.571429,28235.835049,2300.0,46300.0
9877,2017-08-26,419,NaN,27200.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,7300.0,15957.142857,18292.881779,1200.0,22000.0,2300.0,40157.142857,28031.937567,1100.0,56200.0
9878,2017-08-27,419,NaN,26171.428571,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,1200.0,15971.428571,18279.379482,32600.0,7300.0,1100.0,40114.285714,28101.211632,45000.0,2300.0
9879,2017-08-28,419,NaN,0.000000,0.0,21057.142857,0.000000,0.000000,0.000000,0.000000,...,32600.0,14200.000000,15366.088202,75500.0,1200.0,45000.0,36171.428571,24487.392285,1300.0,1100.0
9880,2017-08-29,419,NaN,0.000000,0.0,0.000000,32057.142857,0.000000,0.000000,0.000000,...,75500.0,24800.000000,26525.019635,60700.0,32600.0,1300.0,27657.142857,24815.509743,0.0,45000.0
9881,2017-08-30,419,NaN,0.000000,0.0,0.000000,0.000000,36700.000000,0.000000,0.000000,...,60700.0,33471.428571,26984.175256,73600.0,75500.0,0.0,21742.857143,25903.851524,35000.0,1300.0
9882,2017-08-31,419,NaN,0.000000,0.0,0.000000,0.000000,0.000000,36628.571429,0.000000,...,73600.0,38985.714286,30994.592462,46500.0,60700.0,35000.0,20128.571429,24428.515733,22000.0,0.0
9883,2017-09-01,419,NaN,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,38085.714286,...,46500.0,42485.714286,30128.028399,1400.0,73600.0,22000.0,15242.857143,18778.432410,7300.0,35000.0
9884,2017-09-02,419,NaN,38100.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,1400.0,41642.857143,31334.797331,100.0,46500.0,7300.0,15957.142857,18292.881779,1200.0,22000.0
9885,2017-09-03,419,NaN,38600.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,100.0,41485.714286,31573.270793,80100.0,1400.0,1200.0,15971.428571,18279.379482,32600.0,7300.0
9886,2017-09-04,419,NaN,0.000000,0.0,49442.857143,0.000000,0.000000,0.000000,0.000000,...,80100.0,48271.428571,34329.322465,29300.0,100.0,32600.0,14200.000000,15366.088202,75500.0,1200.0
9887,2017-09-05,419,NaN,0.000000,0.0,0.000000,40585.714286,0.000000,0.000000,0.000000,...,29300.0,41671.428571,32620.582167,36200.0,80100.0,75500.0,24800.000000,26525.019635,60700.0,32600.0
9888,2017-09-06,419,NaN,0.000000,0.0,0.000000,0.000000,38885.714286,0.000000,0.000000,...,36200.0,38171.428571,31534.939051,39400.0,29300.0,60700.0,33471.428571,26984.175256,73600.0,75500.0
9889,2017-09-07,419,NaN,0.000000,0.0,0.000000,0.000000,0.000000,39828.571429,0.000000,...,39400.0,33285.714286,27525.589825,33800.0,36200.0,73600.0,38985.714286,30994.592462,46500.0,60700.0
9890,2017-09-08,419,NaN,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,40742.857143,...,33800.0,31471.428571,26921.349290,400.0,39400.0,46500.0,42485.714286,30128.028399,1400.0,73600.0
9891,2017-09-09,419,NaN,41371.428571,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,400.0,31328.571429,27109.513353,7700.0,33800.0,1400.0,41642.857143,31334.797331,100.0,46500.0
9892,2017-09-10,419,NaN,41128.571429,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,7700.0,32414.285714,25769.454047,66200.0,400.0,100.0,41485.714286,31573.270793,80100.0,1400.0
9893,2017-09-11,419,NaN,0.000000,0.0,30328.571429,0.000000,0.000000,0.000000,0.000000,...,66200.0,30428.571429,21696.137466,21100.0,7700.0,80100.0,48271.428571,34329.322465,29300.0,100.0
9894,2017-09-12,419,NaN,0.000000,0.0,0.000000,29685.714286,0.000000,0.000000,0.000000,...,21100.0,29257.142857,21986.651794,34200.0,66200.0,29300.0,41671.428571,32620.582167,36200.0,80100.0
9895,2017-09-13,419,NaN,0.000000,0.0,0.000000,0.000000,24500.000000,0.000000,0.000000,...,34200.0,28971.428571,21894.193620,34400.0,21100.0,36200.0,38171.428571,31534.939051,39400.0,29300.0
9896,2017-09-14,419,NaN,0.000000,0.0,0.000000,0.000000,0.000000,31185.714286,0.000000,...,34400.0,28257.142857,21576.519424,22600.0,34200.0,39400.0,33285.714286,27525.589825,33800.0,36200.0
9897,2017-09-15,419,NaN,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,32371.428571,...,22600.0,26657.142857,21512.156031,4200.0,34400.0,33800.0,31471.428571,26921.349290,400.0,39400.0
9898,2017-09-16,419,NaN,33714.285714,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,4200.0,27200.000000,20774.423377,500.0,22600.0,400.0,31328.571429,27109.513353,7700.0,33800.0
9899,2017-09-17,419,NaN,34100.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,500.0,26171.428571,22040.471432,30400.0,4200.0,7700.0,32414.285714,25769.454047,66200.0,400.0

## This one works. The simplest.

In [10]:
with open("model_to_run.pickle", "rb") as file:
       clf = pickle.load(file)

test_y_pred = clf.predict(test1_X)

WrapperForEstimator transform called
Transform from estimator Finished
300
FinalStepForSubmission Finished

## From Nastya

In [11]:
# dfs = Features.GenerateFis(df_test)
# atm0 = df5

# with open("lasso_n.pickle", "rb") as file:
#     clf = pickle.load(file)
    
# X_test = test1_X[atm0.columns.difference(['DATE', 'CLIENT_OUT'])]

# test_y_prediction = clf.predict(X_test)
# test_y_pred = test1_X[['DATE', 'ATM_ID']].copy()
# test_y_pred['CLIENT_OUT'] = test_y_prediction

In [12]:
# dfs = Features.GenerateFis(df_test)
# atm0 = df5

# with open("sgd.pickle", "rb") as file:
#     clf = pickle.load(file)
    
# X_test = test1_X[atm0.columns.difference(['DATE', 'CLIENT_OUT'])]

# test_y_prediction = clf.predict(X_test)
# test_y_pred = test1_X[['DATE', 'ATM_ID']].copy()
# test_y_pred['CLIENT_OUT'] = test_y_prediction

## From Nastya random forest

In [13]:
# dfs = Features.GenerateFis(df_test)
# atm0 = dfs[0]

# with open("rf_rcv.pickle", "rb") as file:
#     clf = pickle.load(file)
# X_test = test1_X[atm0.columns.difference(['DATE', 'CLIENT_OUT'])]

# test_y_prediction = clf.predict(X_test)
# test_y_pred = test1_X[['DATE', 'ATM_ID']].copy()
# test_y_pred['CLIENT_OUT'] = test_y_prediction

## Final steps

In [14]:
# convert negative values to zeros
test_y_pred['CLIENT_OUT'] = test_y_pred['CLIENT_OUT'].where(test_y_pred['CLIENT_OUT'] > 0, 0)

In [15]:
test_y_pred.to_csv('submission.csv', index=False)