In [1]:
import pandas as pd
import numpy as np
from score_submission import our_scorer, scorer
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import Pipeline
from sklearn import datasets, linear_model
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.ensemble import RandomForestRegressor
import pickle

In [2]:
from functions.date_split import split_month_test
from score_submission import our_scorer, scorer
#import functions.CreatingNewDataframe as CreatingNewDataframe
import functions.GenerateFis as Features
import functions.GenerateMeansWithOffset as MeansOffset
from functions.pipeline_steps import *

In [3]:
with open("model_to_run.pickle", "rb") as file:
    clf = pickle.load(file)

## Классификатор обучен

In [4]:
df_test = pd.read_csv('train.csv.zip', parse_dates=['DATE'])
ids = np.unique(df_test.ATM_ID)

### Добавим даты для predict

In [5]:
pred_dates  = np.array(['2017-08-16', '2017-08-17', '2017-08-18', '2017-08-19',
               '2017-08-20', '2017-08-21', '2017-08-22', '2017-08-23',
               '2017-08-24', '2017-08-25', '2017-08-26', '2017-08-27',
               '2017-08-28', '2017-08-29', '2017-08-30', '2017-08-31',
               '2017-09-01', '2017-09-02', '2017-09-03', '2017-09-04',
               '2017-09-05', '2017-09-06', '2017-09-07', '2017-09-08',
               '2017-09-09', '2017-09-10', '2017-09-11', '2017-09-12',
               '2017-09-13', '2017-09-14', '2017-09-15', '2017-09-16',
               '2017-09-17'], dtype='datetime64')

data = []
for id in ids:
    for date in pred_dates:
        data.append((date, id, np.nan))
df_test_append = pd.DataFrame(data=data, columns=['DATE', 'ATM_ID', 'CLIENT_OUT'])
df_test = df_test.append(df_test_append)

### Создадим фичи

In [6]:
df1, df2, df3, df4, df5 = Features.GenerateFis(df_test)

In [8]:
test_days = len(pred_dates)
#_, test_y = split_month_test(df_initial, train_days) # для теста данных нет
_, test1_X = split_month_test(df1, test_days)

# Получим ответ

In [9]:
test_y_pred = clf.predict(test1_X)

WrapperForEstimator transform called
Transform from estimator Finished
300
FinalStepForSubmission Finished

In [13]:
test_y_pred.where(data_frame < 0, 0)

           DATE  ATM_ID     CLIENT_OUT
0    2017-08-16       0  402337.902710
1    2017-08-17       0  455569.891743
2    2017-08-18       0  464167.553689
3    2017-08-19       0  170642.965800
4    2017-08-20       0  157753.903910
5    2017-08-21       0  409613.325381
6    2017-08-22       0  334676.080299
7    2017-08-23       0  301737.784366
8    2017-08-24       0  403739.001660
9    2017-08-25       0  446934.450750
10   2017-08-26       0  153477.155282
11   2017-08-27       0  114703.794769
12   2017-08-28       0  409594.925025
13   2017-08-29       0  314078.725253
14   2017-08-30       0  353246.977346
15   2017-08-31       0  492607.402464
16   2017-09-01       0  560782.455219
17   2017-09-02       0  214476.356508
18   2017-09-03       0  174613.894544
19   2017-09-04       0  506307.561958
20   2017-09-05       0  446733.454130
21   2017-09-06       0  524341.164193
22   2017-09-07       0  523923.963509
23   2017-09-08       0  522158.537425
24   2017-09-09       0  222211.622003
25   2017-09-10       0  253957.161582
26   2017-09-11       0  512570.770560
27   2017-09-12       0  381642.385655
28   2017-09-13       0  435531.922876
29   2017-09-14       0  444950.011790
...         ...     ...            ...
9870 2017-08-19     419 -102446.371409
9871 2017-08-20     419 -130117.894990
9872 2017-08-21     419   -2095.518115
9873 2017-08-22     419  -50167.486391
9874 2017-08-23     419  -61148.904545
9875 2017-08-24     419  -50081.290767
9876 2017-08-25     419  -12077.911057
9877 2017-08-26     419 -110515.853143
9878 2017-08-27     419 -174729.262664
9879 2017-08-28     419    5272.190106
9880 2017-08-29     419  -27930.411721
9881 2017-08-30     419  -54804.765898
9882 2017-08-31     419  -37181.103338
9883 2017-09-01     419   87429.150849
9884 2017-09-02     419  -31293.975149
9885 2017-09-03     419  -69325.698494
9886 2017-09-04     419  146830.004398
9887 2017-09-05     419  102657.205303
9888 2017-09-06     419  108229.457131
9889 2017-09-07     419   45321.289308
9890 2017-09-08     419   62517.973422
9891 2017-09-09     419  -39814.630516
9892 2017-09-10     419   10511.665696
9893 2017-09-11     419  151908.804548
9894 2017-09-12     419   33138.945634
9895 2017-09-13     419   47658.099004
9896 2017-09-14     419   25983.938171
9897 2017-09-15     419   92850.656513
9898 2017-09-16     419  -50463.093398
9899 2017-09-17     419 -120233.056205

[9900 rows x 3 columns]

In [12]:
test_y_pred.to_csv('submission.csv', index=False)